!!!
%html
  %head
    %script(type="text/javascript" src="scripts/env.js")
    %script(type="text/javascript" src="scripts/zepto.js")
    %script(type="text/javascript" src="scripts/ICanHaz.js")
    %script(type="text/javascript" src="scripts/underscore.js")
    %script(type="text/javascript" src="scripts/bridge.js")
    %script(type="text/javascript" src="scripts/pageHelper.js")

    %script(type="text/javascript" src="scripts/init.js")
    -# Load all feature JS files
    = render_partial 'web/app/views/load_file'

  %body
    %div#app_container.container

    #loader.hidden
      .box.load
        .text Loading...
      .box.error.hidden
        .text
          .clear Error...
          .clear Please try again
          .clear
            %a{:href => "#"} Ok

    %footer
      %a.help{:href => '#'} NEED HELP?
      %a.contact-us{:href => '#'} CONTACT US >

  %script(type="text/javascript")
    example.converter.start()


