!!!
%html
  %head
    -%w{env zepto ICanHaz underscore calatrava bridge pageHelper}.each do |filename|
      %script(type="text/javascript" src="scripts/#{filename}.js")

    %script(type="text/javascript" src="scripts/init.js")
    -# Load all feature JS files
    = render_partial 'web/app/views/load_file'

  %body
    %div#app_container.container
      = render_page "converter/conversionForm"

    #loader.hidden
      .box.load
        .text Loading...
      .box.error.hidden
        .text
          .clear Error...
          .clear Please try again
          .clear
            %a{:href => "#"} Ok

    %footer
      %a.help{:href => '#'} NEED HELP?
      %a.contact-us{:href => '#'} CONTACT US >

  %script(type="text/javascript")
    example.converter.start()


