artifacts/
config/result/
droid/*/ant/
droid/*/ivy/
droid/*/assets/calatrava/
droid/*/bin/
droid/*/gen/
node_modules/
.idea/
.node_updated
ios/public/
ios/*.xcworkspace/
.sass-cache/
.rake/
web/apache/conf/httpd.conf
web/apache/logs/
web/apache/public
web/public/
*.iml
.DS_Store
*.apk
*.ap_
*.dex
*.class
