!!!
%html
  %head
    %link(type="text/css" rel="stylesheet" media="all" href="file:///android_asset/hybrid/styles/reset.css")
    %link(type="text/css" rel="stylesheet" media="all" href="file:///android_asset/hybrid/styles/app.css")
    %link(type="text/css" rel="stylesheet" media="all" href="file:///android_asset/hybrid/styles/common.css")
    %link(type="text/css" rel="stylesheet" media="all" href="file:///android_asset/hybrid/styles/device.css")

    %script(src="file:///android_asset/hybrid/scripts/env.js" type="text/javascript")

    %script(src="file:///android_asset/hybrid/scripts/zepto.js" type="text/javascript")
    %script(src="file:///android_asset/hybrid/scripts/ICanHaz.js" type="text/javascript")
    %script(src="file:///android_asset/hybrid/scripts/underscore.js" type="text/javascript")
    %script(src="file:///android_asset/hybrid/scripts/dialog.js" type="text/javascript")

    %script(src="file:///android_asset/hybrid/scripts/shell.js" type="text/javascript")
    %script(src="file:///android_asset/hybrid/scripts/pageHelper.js" type="text/javascript")
    %script(type="text/javascript")
      :plain
        $(document).ready(function() {
          window.batSignal = tw.batSignal();
        });

    = content_for :scripts

  %body
    %div#app_container.container
      = content_for :container
