!html
%html
  %head
    %title Currency Converter
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %link(rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css")
    %script(type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js")
    %script(type="text/javascript" src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js")
    %script(type="text/javascript" src="../public/javascripts/domain/currency_converter.js")
    %script(type="text/javascript" src="page.currencyConverter.js")
        
    %body 
      #currency(data-role="page")
        .header(data-role="header")
          .h1 Currency Converter
        .content(data-role="content")
          %form#cc-form(method="get")
            %label(for="usd") Currency in USD
            %input#usd(type='text' name="usd")
            %button(type="submit" value="Convert")
          %label Value in Euro
          .result